@import "neat";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$tryg-red: #ce0303; 
$tryg-red-darker: darken($tryg-red, 15%) !default // #b80301 
$tryg-red-border: #830202;

$tryg-red-hover: #9c0202;
$tryg-red-border-hover: #460101;

$tryg-green: #008a00; 
$tryg-green-darker: darken($tryg-green, 15%) !default // #b80301 

$tryg-blue: #0050a5; 
$tryg-blue-darker: darken($tryg-blue, 15%) !default // 

$tryg-grey-1: #ffffff; 
$tryg-grey-2: #f8faf6; 
$tryg-grey-3: #f1f1f1; 
$tryg-grey-4: #e1e1e1; 
$tryg-grey-5: #999999; 
$tryg-grey-6: #5a5a5a; 
$tryg-grey-7: #222222; //"black"

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container { 
	@include grid-container;
	font-family: 'Source Sans Pro';
	color: $tryg-grey-7;
	width: 700px; 
	margin: 0px auto 0; 
	display: block; 
	background: $tryg-grey-2;
	padding: 30px 70px 70px;

	.popup {
		@include grid-column(12);
        background-color: white;
        text-align: center;
        z-index: 99;
        padding-top: 1em;
        padding-bottom: 2.5em;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position: absolute;
        width: 650px;
        top: 20%;
       	display: none;

       	.close {
       		text-align: right;
       		margin-right: 20px;
       	}

       	.description {
       		margin-bottom: 30px;
       		padding-left: 2em;
			padding-right: 2em;
       	}

       	select {
       		background-color: white;
       	}

       	.ok {
       		background-color: black;
       		color: white;
       		text-decoration: none;
       		padding: 0.5em 2em;
       	}
	}

	#bekreftBestillning {
		top: 5%;
		.description {
			text-align: left;
		}
	}

	.step1 {
		@include grid-column(12);

		h2 {
			@include grid-column(12);
			margin-bottom: 30px;
		}

		.getPrice {
			@include grid-column (12);
			color: white;
			background-color: $tryg-red;
			border: 3px solid $tryg-red-border;
			text-align: center;
			padding: 1em 0em;
			margin-top: 30px;
			font-size: 14px;
		}

		.getPrice:hover {
			background-color: $tryg-red-hover;
			border: 3px solid $tryg-red-border-hover;
           	cursor: pointer;
		}

		p {
			@include grid-column (12);
			margin-top: 30px;
			color: $tryg-red;
			font-size: 14px;
		}

		.errorMsg {
			display: none;
		}
	} // end of step1

	.step2 {
		@include grid-column(12);
		margin-top: 40px;
		display: none;

		.slider {
			@include grid-column(12);
		}

		#slider-2 {
			@include grid-column(12);
		}

		h2 {
			@include grid-column(12);
		}

		p {
			@include grid-column(12);
			font-size: 14px;
		}

	} // end of step2

	.step3 {
		@include grid-column(12);
		margin-top: 40px;
		display: none;

		h2 {
			@include grid-column(12);
		}

		.kasko {
			@include grid-column(4);
			width: 33%;
			margin: 0;
			padding-top: 1em;
			padding-bottom: 2em;

			.anbefaller {
				@include grid-column(2);
				position: absolute;
				margin-left: 15px;
				margin-top: -15px;
				margin-bottom: -15px;
				//transform: rotate(-10deg);

				p {
					background-color: $tryg-grey-7;
					text-align: center;
					color: white;
					padding: 0.5em;
					font-size: 14px;
				}
			}


			h1 {
				@include grid-column(12);
				color: white;
				font-size: 24px;
				text-align: center;
				margin-top: 50px;
			}

			img {
				width: 100px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			table {
				@include grid-column(12);
				text-align: left;
				margin-top: 20px;
				color: white;
				font-size: 12px;

				.right {
					text-align: right;
				}

				span.total {
					font-size: 20px;
				}
			}

			.prisForsikring {
				color: $tryg-grey-7;
				font-size: 14px;
			}

			.kaskoPrice {
				@include grid-column(12);
				color: white;
				font-size: 32px;
			}

			.prisUtenTFA {
				@include grid-column(12);
				color: white;
				font-size: 12px;
				margin-top: 20px;
			}

			.velgBtn {
				@include grid-column(12);
				margin-top: 20px;
				text-align: center;
				background-color: $tryg-grey-7;
				border: 3px solid $tryg-grey-7;
				color: white;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				font-size: 14px;
			}

			.velgBtn:hover {
           		background-color: black;
           		border-color: black;
           		cursor: pointer;
			}
		} // end of kasko

		.kasko.Extra {
			background-color: $tryg-red;
		}
		.kasko.Normal {
			background-color: $tryg-grey-6;
			margin-right: 3px;
		}
		.kasko.Delkasko {
			background-color: $tryg-grey-5;
			margin-right: 3px;
		}
	} // end of step3

	.step4 {
		@include grid-column (12);
		margin-top: 10px;
		display: none;

		.backStep {
			@include grid-column (12);
			margin-bottom: 20px;

			span {
				@include grid-column (3);
				background-color: $tryg-grey-4;
				padding: 0.5em 0em;
				text-align: center;
				margin-left: 0px;
			}
		}

		table {
			text-align: left;
			font-size: 12px;

			th.tableLeft {
				color: $tryg-grey-5;
			}
		}

		table.tableNo1 {
			@include grid-column (6);

			.adressEdit {
				display: none;
			}
		}
		table.tableNo2 {
			@include grid-column (6);
		}

		.editAddress {
			@include grid-column (12);
			margin-top: 20px; 

			span {
				font-size: 12px;
				color: #68c9cd;
				font-style: italic;
			}

			.fa {
				color: $tryg-grey-7;
				margin-left: 5px;
			}
		}

		.saveEditAddress {
			@include grid-column (12);
			margin-top: 20px;
			display: none;

			span {
				@include grid-column (3);
				color: white;
				background-color: $tryg-grey-7;
				border: 3px solid $tryg-grey-7;
				text-align: center;
				padding: 0.8em 0em 0.8em 0em;
				font-size: 12px;
				margin-left: 0px;
			}

			span:hover {
				background-color: black;
				border-color: black;
			}
		}

	}

	.step4block1 {
		@include grid-column (6);
		margin-top: 20px;
		display: none;

		h2 {
			@include grid-column(12);
		}

		.group {
			margin-bottom: 20px;
		}

		.bonus, .tillgangsorsak, .overforesFra {
			@include grid-column(12);
			margin-bottom: 20px;
		}

		.bonus {
			@include grid-column(10);
		}

		.bonusQ {
			@include grid-column(2);
			margin-top: 25px;
			position: relative;
			margin-left: 7%;

			.fa {
				color: black;
				font-size: 14px;
			}
		}

		.annetSelskap {
			@include grid-column(12);
			font-size: 12px;
			margin-top: -20px;
			display: none;

			p {
				padding-left: 0.5em;
			}
		}

		.overforesFra {
			display: none;
		}

		.leasingbolag {
			margin-top: 10px;
		}

		.annanEier {
			@include grid-column(12);
			font-size: 12px;

			.fa {
				color: black;
			}
		}
	}

	.step4block2 {
		@include grid-column(6);
		margin-top: 20px;
		display: none;

		h2 {
			@include grid-column(12);
		}

		.choosenKasko {
			@include grid-column(12);
			padding: 0.5em 0em 2em 0em;
			// background-color: $tryg-red;

			h1 {
				@include grid-column(12);
				color: white;
				font-size: 24px;
				text-align: center;
			}

			img {
				width: 100px;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			table {
				@include grid-column(12);
				margin-top: 20px;
				text-align: left;
				color: white;
				font-size: 12px;

				.right {
					text-align: right;
				}

				.total {
					font-size: 25px;
				}
			}

			.prisForsikring {
				@include grid-column(12);
				color: $tryg-grey-7;
				font-size: 14px;
				margin-top: 20px;
			}

			.kaskoPrice {
				@include grid-column(12);
				color: white;
				font-size: 40px;
				margin-top: 5px;
			}

			.prisUtenTFA {
				@include grid-column(12);
				color: $tryg-grey-7;
				font-size: 12px;
				margin-top: 10px;
			}
		}
	}

	.omAnnanEier {
		@include grid-column (12);
		margin-top: 30px;
		display: none;
	}

	.order {
		@include grid-column (12);
		margin-top: 20px;
		text-align: center;
		font-size: 12px;
		color: grey;
		display: none;

		a {
			color: black;
			font-size: 14px;
			margin-left: 5px;
		}

		.orderIns {
			@include grid-column (12);
			color: white;
			background-color: $tryg-red;
			border: 3px solid $tryg-red-border;
			text-align: center;
			padding: 1em 0em;
			margin-top: 30px;
			font-size: 14px;
		}

		.orderIns:hover {
			background-color: $tryg-red-hover;
			border: 3px solid $tryg-red-border-hover;
           	cursor: pointer;
		}
	}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	background: $tryg-grey-7;
	float: left;
	margin-left: -50px;
	margin-top: 12px;
}

.group { 
	@include grid-column(12);
	position: relative; 
	margin-bottom: 30px;

	input {
		width: 100%;
		font-size: 14px;
		padding: 10px 10px 10px 5px;
		display: block;
		background-color: $tryg-grey-2;
		border:none;
		border-bottom:1px solid lightgrey;
	}

	input:focus {
		outline:none;
	}
				
	label {
		color: $tryg-grey-7; 
		font-size: 14px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 0.2s ease all; 
		-moz-transition: 0.2s ease all; 
		-webkit-transition: 0.2s ease all;
	}

	.dropLabel {
		@include grid-column(12);
		position: relative;
		margin-left: 0px;
		font-size: 12px;
		color: #68c9cd;
		top: 0px;
	}

	#startDate {
		font-family: 'Source Sans Pro' !important;
	}

	input:focus ~ label, input:valid ~ label{
		top: -10px;
		font-size: 12px;
		color: #68c9cd;
	}

	.bar {
		position: relative; 
		display: block; 
	}

	.bar:before, .bar:after {
		content: '';
		height: 2px; 
		width: 0;
		bottom: 1px; 
		position: absolute;
		background: #68c9cd; 
		transition: 0.2s ease all; 
		-moz-transition: 0.2s ease all; 
		-webkit-transition: 0.2s ease all;
	}

	.bar:before {
		left:50%;
	}

	.bar:after {
		right:50%; 
	}

	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}
} //.group

.error {
	color: red;
	.bar:before, .bar:after {
		content: '';
		background: red; 
	}
	span {
		font-size: 0.9em;
	}
}

.group.regno {
	@include grid-column (6);
	//display: none;
}

.bilmodell {
	@include grid-column (6);
	margin-top: -10px;
	margin-bottom: 25px;
	display: none;

}

.group2 {
	@include grid-column (6);
	font-size: 14px;
	margin-top: 10px;
	//display: none;

	.fa {
		color: black;
	}
}

.group3 {
	@include grid-column (12);
	font-size: 14px;
	line-height: 180%;
}

.droplabel {
	@include grid-column(12);
	position: relative;
	margin-left: 5px;
	font-size: 12px;
	color: #68c9cd;		
}

select {
	width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
	padding-left: 0.35em;   
	position: relative;	
}

.selectWrapper {
	@include grid-column(12);
	position: relative;
	margin: 0;
}

.selectWrapper:before {
	content: "\f107";
	font-family: FontAwesome;	
	right: 5px;
    position: absolute;
	top: 10px;
	display: block;
	z-index: 2;
}

.fa-angle-down {
	position: relative;
	left: 90%;
	margin-top: -25px;
}

} // end of container

.container {
    @media screen and (max-width: 580px) {
    	@include grid-column(12);
    	padding: 30px 20px 20px;
    	margin: 0;

    	.popup {
    		width: auto;
    		margin-left: -20px;

    		h3 {
    			padding: 0em 1em;
    		}
    	}

    	.step3 {
    		.kasko {
    			@include grid-column(12);

    			.anbefaller {
					@include grid-column(7);
					position: absolute;
					margin-left: -10px;
					margin-top: -15px;
					margin-bottom: -15px;
					//transform: rotate(-10deg);

					p {
						background-color: $tryg-grey-7;
						text-align: center;
						color: white;
						padding: 0.5em;
						font-size: 14px;
					}
				}

    			h1 {
    				@include grid-column(12);
    				font-size: 25px;
    				margin-top: 10px;
    			}

    			#ekstra {
    				margin-top: 50px !important;
    			}

    			img {
    				display: none;	
    			}

    			table {
    				@include grid-column(12);
    				margin-top: 0px;
    			}
    		}
    	}

    	.step4 {

    		.backStep {

    			span {
    				@include grid-column(12);
    			}
    		}

    		table.tableNo1, table.tableNo2 {
    			@include grid-column(12);

    			.tableLeft {
    				width: 150px;
    			}
    		}

    		.saveEditAddress {
    			@include grid-column(12);
    		}
    	}

    	.step4block1 {
    		@include grid-column(12);
    	}

    	.step4block2 {
			@include grid-column(12);
			
    		.choosenKasko {
    			img {
    				display: none;
    			}

    			table {
    				margin-top: 0;
    			}
    		}
    	}

    	.omAnnanEier {
    		margin-top: 30px;
    	}

    	.group.half {
    		@include grid-column(12);
    	}

    	.group.regno {
    		@include grid-column(12);
    	}

    	.bilmodell {
    		@include grid-column(12);
    	}

    	.group2 {
    		@include grid-column(12);
    		margin-top: -10px;
    		margin-bottom: 20px;
    	}

    	.circle {
    		display: none;
    	}
    }
}



// Spinner start
.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 auto;
  }
  
  .double-bounce1 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2s infinite ease-in-out;
	animation: sk-bounce 2s infinite ease-in-out;
  }
  
  .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2s infinite ease-in-out;
	animation: sk-bounce 2s infinite ease-in-out;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
  }
  
  @-webkit-keyframes sk-bounce {
	0%, 100% {
	  -webkit-transform: scale(0);
	}
	50% {
	  -webkit-transform: scale(1);
	}
  }
  @keyframes sk-bounce {
	0%, 100% {
	  transform: scale(0);
	  -webkit-transform: scale(0);
	}
	50% {
	  transform: scale(1);
	  -webkit-transform: scale(1);
	}
  }
  
.tmpLoadingSpinnerFix {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
}
// Spinner end